name: Build Flutter Web

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: app

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: flutter config --enable-web
      - run: flutter pub get
      - run: flutter build web --release

      - name: Move web build to docs
        run: |
          rm -rf ../docs
          mkdir ../docs
          cp -r build/web/* ../docs/